{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Doctor 진단 서비스</title>
    <!-- font.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/font.css'%}">

    <!-- diagnosis.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/diagnosis.css'%}">

    <!-- jquery 가져오기 -->    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <!-- header logo -->
            <div class="header__logo">
                <a href="/"><img class="header__img" src="/static/images/isix_text_logo.png"></a>
                <a href="#" class="navbar__toggleBtn">
                    <i class="fa-solid fa-bars" style="color: #1f4568;"></i>
                </a>
            </div>
            <!-- header menu -->
            <div class="header__menu">
                <nav id="navbar" class="header__nav">
                    <ul class="header__elenco">
                        <li class="header__el">
                            <a href="/planning/?part_no=part6" class="header__link header__plan">부품 생산 계획</a>
                        </li>
                        <li class="header__el">
                            <a href="/monitoring/cast_proc" class="header__link header__monitor">공정 모니터링</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- title -->
    <div class="titlebox">
        <div class="maintitle">
            AI 진단 서비스
        </div>
        <div class="subtitle">
            증상을 입력하면 관련 질병을 알려드립니다.
        </div>
    </div>
    <!-- input form -->
    <form class="form" method="post" action="#">
        {% csrf_token %}
            <input type="text" name="user_input" id="userInput">
            <button type="button" id="send-button" onclick="goLoadView()">진단받기</button>
    </form>
    
    <!-- answer -->
    <div class="chat-container">
        <div class="chat-load" id="chat-load">
            <!-- loading -->
            <div class="loading-indicator" id="loading-indicator">
                <div class="spinner"></div>
            </div>
        </div>
    </div>  
    <!-- footer -->
    <div class="footer">
        <span class="copyright">
            Copyright © BAA 2023
        </span>
    </div>
    <script type="text/javascript">
        const userInput = document.getElementById('userInput'); // 사용자 입력 필드
        const loadingIndicator = document.getElementById('loading-indicator'); // 로딩 표시 요소

        // 사용자 입력 비활성화
        function disableUserInput() {
            userInput.disabled = true;
        }
        
        // 사용자 입력 활성화
        function enableUserInput() {
            userInput.disabled = false;
        }
        
        // 로딩 표시 활성화
        function showLoadingIndicator() {
            loadingIndicator.style.display = 'flex';
        }
        
        // 로딩 표시 비활성화
        function hideLoadingIndicator() {
            loadingIndicator.style.display = 'none';
        }
        // 비동기 로드
        function goLoadView() {
            var userInputValue = $('#userInput').val(); 
            showLoadingIndicator();
            disableUserInput();
        
            $.ajax({
                type: 'POST',
                url: '/diagnosis_detail',
                data: {
                    'user_input': userInputValue,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },                
                success: function (data) {
                    $("#chat-load").html(data);
                },
                error: function (xhr, status, error) {
                    console.error('AJAX 에러:', status, error);
                },
                complete: function () {
                    hideLoadingIndicator();
                    enableUserInput();
                }
            });
        }        
    </script>
</body>
</html>